<h1 class="page__title">Users List</h1>

<table class="index__table">
  <thead class="index__thead">
    <tr class="index__tr">
      <th>Name</th>
      <th>Age</th>
      <th>Total contacts</th>
      <th>Total telephones</th>
      <th>Show</th>
    </tr>
  </thead>
  <tbody>
    <% @users.map do |user| %>
      <tr class="index__tr">
        <td><%= user.name %></td>
        <td><%= user.age %></td>
        <td><%= user.contacts.size %></td>
        <td><%= user.telephones.size %></td>
        <td><%= link_to 'show', user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
